### BEGIN DISPATCHER CONFIG ###
<IfModule mod_rewrite.c>
Options +FollowSymLinks
IndexIgnore */*
# Turn on rewrite engine
RewriteEngine On
# Disable rewrtite engine if target is vendor, services or templates folders
RewriteRule ^(vendor|services|templates)($|/) - [L]
# Do rewrite!
RewriteRule . index.php
</IfModule>
#### END DISPATCHER CONFIG ####